<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 浏览器标签上显示的网站标题 -->
    <title>VDController👾</title>
    <!-- 网站介绍 -->
    <meta name="description" content="皓然的个人主页">
    <!-- 网站关键字 -->
    <meta name="keywords" content="皓然的个人主页,皓然,程序员,编程">
    <!-- 浏览器标签上显示的图标 -->
    <link rel="icon" type="image/ico" href="https://bu.dusays.com/2023/02/05/63dfc7f2ced91.png">
    <!-- 样式文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="/web/style.css?v=1.2.0">
    <link rel="stylesheet" href="/web/APlayer-1.10.1/dist/APlayer.min.css">

    <!-- 自定义设置 -->
    <style>
        body {
            /*背景图片URL 可使用随机图片API */
            background-image: url("https://bu.dusays.com/2023/03/28/6422acc196d9a.png");
        }

        .photo-bg {
            /* 卡片左侧图片 */
            background-image: url("https://bu.dusays.com/2024/04/16/661de9ad6ce63.png");
        }
    </style>
    <script>
        // 音乐设置
        let meting_music_api = "https://meting.170601.xyz";// meting api
        let music_server = "netease"; // 音乐服务：网易云 netease 参见 meting api支持的服务
        let music_type = "playlist"; // 歌曲类型：歌单playlist 单首歌曲 song  专辑 album
        let music_id = "8362718673"; // 歌单ID或歌曲ID或者专辑ID 20173709 29732992
        let music_order = "random"; // 音频循环顺序, 顺序播放： 'list', 随机播放：'random'
        let music_mini = false; // mini模式 吸底模式开启后此选项实效 true / false
        let music_fixed = false; // 吸底模式
        let music_volume = 0.7; // 默认音量
        let music_autoplay = false; // 自动播放
        let music_loop = "all"; // 音频循环播放, 可选值: 'all', 'one', 'none' ，分别为全部循环，单曲循环，不循环
        // TODO 一言设置
    </script>
    <!-- end 自定义设置 -->
    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"KF5cHbU0ZDN7XbGI",ck:"KF5cHbU0ZDN7XbGI"})</script>
</head>

<body>
    <div class="kz-video">
        <video src="https://bu.dusays.com/2023/01/30/63d7d94e432cf.png" autoplay="autoplay" loop muted playsinline="" webkit-playsinline=""></video>
    </div>
    <div id="main" class="container">
        <div class="row my-card justify-content-center">
            <div class="col-lg-4 photo-bg"></div>
            <div class="col-lg-8 card">
                <!-- 大标题 -->
                <h1>Visual Docker Controller</h1>
                <!-- 标题下的一段话 -->
                <ul>
                    <li>Docker 版本： {{.EnvInfo.DockerVersion}}</li>
                    <li>DockerCompose 版本：{{.EnvInfo.DcomposeVersion}}</li>
                </ul>
                <p id="hitokoto_text">:D 一言获取中...</p>
                <div class="container-fluid">
                    <div class="row">
                        <!-- 导航按钮组 -->
                        <button data-href="https://blog.horonlee.com" data-title="Blog" data-window="newtab" data-anim="4"
                            data-area-w="80%" data-area-h="90%" data-shade="false"
                            class="kz-nav-btn btn btn-primary col-lg-4">Blog</button>
                        <!-- data-window="newtab"就是当前页面打开 -->
                        <button data-href="https://doc.horonlee.com/" data-title="Documentation" data-window="newtab"
                            data-anim="4" data-area-w="80%" data-area-h="90%" data-shade="false"
                            class="kz-nav-btn btn btn-success col-lg-4">Documentation</button>
                        <button data-href="https://chat.horon.top/" data-title="Documentation" data-window="newtab"
                            data-anim="4" data-area-w="80%" data-area-h="90%" data-shade="false"
                            class="kz-nav-btn btn btn-warning col-lg-4">HoronGPT</button>
                        <button data-href="https://cloud.haoyue.ltd/" data-title="HaoYueCloud" data-window="newtab"
                            data-anim="4" data-area-w="80%" data-area-h="90%" data-shade="false"
                            class="kz-nav-btn btn btn-info col-lg-4">HaoYueCloud</button>
                        <button data-href="https://github.com/HoronLee" data-title="GitHub" data-window="newtab"
                            data-anim="4" data-area-w="80%" data-area-h="90%" data-shade="false"
                            class="kz-nav-btn btn btn-secondary col-lg-4">GitHub</button>
                        <button data-href="https://space.bilibili.com/172335226?spm_id_from=333.1007.0.0" data-title="BiliBili" data-window="newtab"
                            data-anim="4" data-area-w="80%" data-area-h="90%" data-shade="false"
                            class="kz-nav-btn btn btn-danger col-lg-4">BiliBili</button>

                        <!-- end 导航按钮组 -->
                    </div>
                </div>
                <!-- aplayer inner -->
                <div id="aplayer-inner" class="aplayer"></div>
                <!-- end aplayer inner -->
                <ul class="social mt-1">
                    <!-- <li><a href="https://weibo.com/u/5223004318"><i class="fab fa-weibo " aria-hidden="true"></i></a>
                    </li> -->
                    <li><a href="https://github.com/HoronLee"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/HuoTie"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.zhihu.com/people/tie-tie-huohuo"><i class="fab fa-zhihu"
                                aria-hidden="true"></i></a></li>
                </ul>

                <footer>
                    <p>Copyright 2023<a href="https://horonlee.com/" target="_blank">-</a>
                        <a href="http://beian.miit.gov.cn/" target="_blank">浙ICP备2023037163号</a>
                        <br>Hosting by
                        <a href="https://cloud.haoyue.ltd" target="_blank" rel="">皓月互联</a>
                        <a href="https://cloud.haoyue.ltd" target="_blank"
                            rel="nofollow"><img src="https://bu.dusays.com/2023/11/01/6542487bf107d.jpg"
                                style="width:50px;"></a>
                    </p>
                </footer>
            </div>
        </div>

    </div>

    <!-- aplayer -->
    <div id="aplayer-fixed" class="aplayer"></div>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <sript src="/web/APlayer-1.10.1/dist/APlayer.min.js"></sript>
    <script src="/web/Meting.min.js"></script>
    <!-- end_aplayer -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script defer src="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/web/layer-v3.5.1/layer/layer.js"></script>

    <script src="/web/main.js"></script>

</html>