<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VDController👾</title>
</head>
<body>
<h1>Visual Docker Controller is running!🥳</h1>
<ul>
    <li>Docker 版本： v{{.DockerVersion}}</li>
    <li>DockerCompose 版本：{{.DcomposeVersion}}</li>
</ul>
</body>
</html>