<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VDController👾</title>
    <link rel="icon" type="image/ico" href="https://bu.dusays.com/2023/02/05/63dfc7f2ced91.png">
</head>

<body>
    <h1>Visual Docker Controller</h1>
    <ul>
        <li>🐳Docker 版本：{{.DockerV}}</li>
        <li>🐙DockerCompose 版本：{{.DockerComposeV}}</li>
        <li>⚓️Kubernetes 版本：{{.KubeVersion}}</li>
</html>